
.header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 300px;
gap: 92px;

position: absolute;
width: 1920px;
height: 40px;
left: 0.24px;
top: 0px;
color: black;
background-color: white;
}



